# 项目相关配置
boot:
  # 名称
  name: boot
  # 版本
  version: 3.8.5
  # 版权年份
  copyrightYear: 2023
  # 获取ip地址开关
  addressEnabled: false
  # 验证码类型 math 数组计算 char 字符验证
  #captchaType: math

# 验证码配置
captcha:
  #  验证码类型配置 查看 CaptchaProperties 类
  codeType: arithmetic
  #  登录图形验证码有效时间/分钟
  expiration: 2
  #  验证码高度
  width: 111
  #  验证码宽度
  height: 36
  # 内容长度
  length: 2
  # 字体名称，为空则使用默认字体
  fontName:
  # 字体大小
  fontSize: 25
  
# 开发环境配置
server:
  servlet:
    # 应用的访问路径
    context-path: /
  tomcat:
    # tomcat的URI编码
    uri-encoding: UTF-8
    # 连接数满后的排队数，默认为100
    accept-count: 1000
    threads:
      # tomcat最大线程数，默认为200
      max: 800
      # Tomcat启动初始化的线程数，默认值10
      min-spare: 100
  port: ${boot.port}

# 日志配置
logging:
  level:
    com.boot: debug
    org.springframework: warn


# 用户配置
user:
  password:
    # 密码最大错误次数
    maxRetryCount: 5
    # 密码锁定时间（默认10分钟）
    lockTime: 10

# Spring配置
spring:
  # 资源信息
  messages:
    # 国际化资源文件路径
    basename: i18n/messages
  profiles:
    active: dev
    include: magicApi
  # 文件上传
  servlet:
     multipart:
       # 单个文件大小
       max-file-size:  10MB
       # 设置总上传的文件大小
       max-request-size:  20MB
  # 服务模块
  devtools:
    restart:
      # 热部署开关
      enabled: false
  thymeleaf:
    mode: HTML
    encoding: utf-8
    cache: false
    prefix: classpath:/static/

  mvc:
    static-path-pattern: /**
  web:
    resources:
      # 增加WebJar资源路径，确保能够正确加载前端资源
      static-locations: classpath:/META-INF/resources/,classpath:/META-INF/resources/webjars/,classpath:/resources/,classpath:/static/,classpath:/public/
      chain:
        # 启用资源链，提高静态资源访问效率
        enabled: true
        # 启用缓存
        cache: true
        # 启用压缩资源解析
        compressed: true
# sa-token配置
sa-token:
  #  token 最低活跃频率（单位：秒）
  active-timeout: -1
  # 是否允许同一账号并发登录 (为true时允许一起登录, 为false时新登录挤掉旧登录)
  allow-concurrent-login: true
  # 在多人登录同一账号时，是否共用一个token (为true时所有登录共用一个token, 为false时每次登录新建一个token)
  is-share: false
  # token风格
  token-style: uuid
  # 是否输出操作日志
  is-log: false

# token配置
token:
    # 令牌自定义标识
    header: Authorization
    # 令牌密钥
    secret: abcdefghijklmnopqrstuvwxyz
    # 令牌有效期（默认30分钟）
    expireTime: 1440

# MyBatis Plus配置
mybatis-plus:
  # 实体扫描，多个package用逗号或者分号分隔
  typeAliasesPackage: com.boot.**.domain
  # 配置mapper的扫描，找到所有的mapper.xml映射文件
  mapperLocations: classpath*:mapper/**/*Mapper.xml
  global-config:
    # 数据库相关配置
    db-config:
      # ID自增
      id-type: AUTO
      # 逻辑已删除值
      logic-delete-value: 1
      # 逻辑未删除值
      logic-not-delete-value: 0
    banner: false  
  # 加载原生全局的配置文件
  # configLocation: classpath:mybatis/mybatis-config.xml  
  configuration:
    map-underscore-to-camel-case: true
    cache-enabled: false
    call-setters-on-nulls: true
    jdbc-type-for-null: 'null'
  configuration-properties:
    prefix:
    blobType: BLOB
    boolValue: TRUE  

# PageHelper分页插件
pagehelper: 
  helperDialect: mysql
  supportMethodsArguments: true
  params: count=countSql 

# Swagger配置
swagger:
  # 是否开启swagger
  enabled: true
  # 请求前缀
  pathMapping: /dev-api

# 防止XSS攻击
xss: 
  # 过滤开关
  enabled: true
  # 排除链接（多个用逗号分隔）
  excludes: /system/notice
  # 匹配链接
  urlPatterns: /system/*,/monitor/*,/tool/*


tenant:
  # 租户模式 是否启用 ，仅测试时可以临时关闭整个租户机制，但因为整个框架都是多租户架构，所以正式环境必须要启用
  enable: false
  # 租户模式 默认租户ID
  defaultTenantId: 0
  # 租户模式 默认租户名称
  defaultTenantName: default
  # 租户字段名
  column: tenant_id
  # 排除表
  excludes:
    - base_tenant #租户表
    - base_menu_pack #所有的菜单包
    - base_menu_pack_detail # 租户菜单包含的菜单详情
    - base_tenant_menu_pack # 租户分配的菜单包
    - gen_table
    - gen_table_column
    - qrtz_blob_triggers
    - qrtz_calendars
    - qrtz_cron_triggers
    - qrtz_fired_triggers
    - qrtz_job_details
    - qrtz_locks
    - qrtz_paused_trigger_grps
    - qrtz_scheduler_state
    - qrtz_simple_triggers
    - qrtz_simprop_triggers
    - qrtz_triggers
    - sys_config
    - sys_dict_data
    - sys_dict_type
    - sys_job
    - sys_job_log
    - sys_logininfor
    - sys_menu
    - sys_notice
    - sys_oper_log
    - sys_role_dept
    - sys_role_menu
    - sys_user
    - sys_user_post
    - sys_user_role



# FlowLong Config
flowlong:
  remind:
    cron: "*/5 * * * * ?"
  eventing:
    task: true





